/.idea/.gitignore
/.idea/AES-256.remote.decryption.TypeScript.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/node_modules/
/package-lock.json
